*{
    margin: 0;
    padding: auto;
}
.hero-section{
    height: 100vh;
    width: 100vw;
}
.hero-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10em;
    width: auto;
}
.carousel-controller{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}